html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	/*background-color: #f2f2f2;*/
}

*, *:before, *:after {
	box-sizing: inherit;
	-webkit-font-smoothing: inherit;
}

body {
	/*font-family: 'Shadows Into Light', cursive;*/
	font-family: 'Slabo 27px', serif;
}

@media (max-width: 320px) {

	.outer {
		width: 97%;
		height: 423px;
		margin: 0 auto;
	}

	.welcome {
		width: 100%;
		height: 423px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		background-color: white;
		color: blue;
		opacity: .7;
	}

	#message {
		width: 250px;
		height: 200px;
		margin: 50px auto;
	}

	.stem {
		background-image: url("../images/portal_rubbing.gif");
		background-size: 100%;
		background-position: 0px 0px;
		background-repeat: no-repeat;
		height: 250px;
		width: 95%;
		margin: 0 auto;
		z-index: 12;
	}

	.stem-overlay {
		background-color: rgba(38, 38, 38, 0.4);
		z-index: 10;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 250px;
	}

	.stem-text {
		margin: 3rem;
		opacity: 1;
		color: white;
		text-shadow: 2px 2px 5px #000000;
		z-index: 500;
	}

	.options {
		background-color: gray; 
		width: 95%;
		margin: 0 auto;
		z-index: 12;
		border:1px;
		display: block;
	}

	.options-overlay {
		background-color: rgba(0, 0, 0, 0.8);
		position: absolute;
		color: #131339;
		z-index: 10;
		top: 250px;
		left: 0;
		width: 100%;
		height: 280px;
		clear: both;
	}

	.options-text {
		position: absolute;
		width: 300px;
		margin: 2rem;
		color: white;
		opacity:1;		
	}

	.options-mask {
		background-color: rgba(70, 70, 70, 0.2);
		position: absolute;
		color: #131339;
		z-index: 15;
		top: 250px;
		left: 0;
		width: 100%;
		height: 280px;
		clear: both;
	}

	.radioleft {
		float: left;
	}

	.optionradio {
		float: left;
		width: 80%;
		margin-bottom: 0.5rem;
	}

	.buttons {
		top: 470px;
		left: 125px;
		width: 70px;
		position: absolute;
		margin: 0.5rem auto;
		background-color: white;
		display: block;
		z-index: 15;
		opacity:1;
	}

	.pushbutton {
		align: center;
		background-color: white;
		width: 100%;
	}

	footer {
		margin: 1rem;
	}
}

@media (min-width: 320px) {

	.outer {
		width: 97%;
		height: 500px;
		margin: 0 auto;
	}

	.welcome {
		width: 100%;
		height: 500px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		background-color: white;
		color: blue;
		opacity: .7;
	}

	#message {
		width: 280px;
		height: 200px;
		margin: 50px auto;
	}

	.stem {
		background-image: url("../images/portal_rubbing.gif");
		background-size: 100%;
		background-position: 0px 0px;
		background-repeat: no-repeat;
		height: 265px;
		width: 95%;
		margin: 0 auto;
		z-index: 12;
	}

	.stem-overlay {
		background-color: rgba(38, 38, 38, 0.4);
		z-index: 10;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 265px;
	}

	.stem-text {
		margin: 3rem;
		opacity: 1;
		color: white;
		text-shadow: 2px 2px 5px #000000;
		z-index: 500;
	}

	.options {
		background-color: gray; 
		width: 95%;
		margin: 0 auto;
		z-index: 12;
		border:1px;
		display: block;
	}

	.options-overlay {
		background-color: rgba(0, 0, 0, 0.8);
		position: absolute;
		color: #131339;
		z-index: 10;
		top: 265px;
		left: 0;
		width: 100%;
		height: 375px;
		clear: both;
	}

	.options-text {
		position: absolute;
		width: 300px;
		margin: 2rem;
		color: white;
		opacity:1;		
	}

	.options-mask {
		background-color: rgba(70, 70, 70, 0.2);
		position: absolute;
		color: #131339;
		z-index: 15;
		top: 265px;
		left: 0;
		width: 100%;
		height: 375px;
		clear: both;
	}

	.radioleft {
		float: left;
	}

	.optionradio {
		float: left;
		width: 80%;
		margin-bottom: 0.5rem;
	}

	.buttons {
		top: 470px;
		left: 125px;
		width: 70px;
		position: absolute;
		margin: 0.5rem auto;
		background-color: white;
		display: block;
		z-index: 15;
		opacity:1;
	}

	.pushbutton {
		align: center;
		background-color: white;
		width: 100%;
	}

	footer {
		margin: 1rem;
	}
}

@media (min-width: 372px) {
	/* Is there a way to make a vertical format that 
	 * looks nice for any dimensions from 400px - 700px?
	 */
	 
	.outer {
		width: 97%;
		margin: 0 auto;
	}

	.welcome {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		background-color: white;
		color: blue;
		opacity: .7;
	}

	#message {
		width: 250px;
		height: 200px;
		margin: 50px auto;
	}

	.stem {
		background-image: url("../images/portal_rubbing.gif");
		background-size: 100%;
		background-position: 0px 0px;
		background-repeat: no-repeat;
		height: 100%;
		width: 95%;
		margin: 0 auto;
		z-index: 12;
	}

	.stem-overlay {
		background-color: rgba(38, 38, 38, 0.4);
		z-index: 10;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 265px;
	}

	.stem-text {
		margin: 3rem;
		opacity: 1;
		color: white;
		text-shadow: 2px 2px 5px #000000;
		z-index: 500;
	}

	.options {
		background-color: gray; 
		width: 95%;
		margin: 0 auto;
		z-index: 12;
		border:1px;
		display: block;
	}

	.options-overlay {
		background-color: rgba(0, 0, 0, 0.8);
		position: absolute;
		color: #131339;
		z-index: 10;
		top: 265px;
		left: 0;
		width: 100%;
		height: 375px;
		clear: both;
	}

	.options-text {
		position: absolute;
		width: 300px;
		margin: 2rem;
		color: white;
		opacity:1;		
	}

	.options-mask {
		background-color: rgba(70, 70, 70, 0.2);
		position: absolute;
		color: #131339;
		z-index: 15;
		top: 265px;
		left: 0;
		width: 100%;
		height: 375px;
		clear: both;
	}

	.radioleft {
		float: left;
	}

	.optionradio {
		float: left;
		width: 80%;
		margin-bottom: 0.5rem;
	}

	.buttons {
		top: 450px;
		left: 125px;
		width: 70px;
		position: absolute;
		margin: 0.5rem auto;
		background-color: white;
		display: block;
		z-index: 15;
		opacity:1;
	}

	.pushbutton {
		align: center;
		background-color: white;
		width: 100%;
	}

	footer {
		margin: 1rem;
	}
}

@media (min-width: 768px) {

	.outer {
		width: 768px;
		height: 420px;
		margin: 0 auto;
		position: relative;
		font-size: 1.5rem;
	}

	.welcome {
		width: 100%;
		height: 423px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		background-color: white;
		color: blue;
		opacity: .7;
	}

	#message {
		width: 230px;
		height: 420px;
		position: absolute;
		left: 510px;
	}

	.stem {
		background-image: url("../images/portal_rubbing.gif");
		background-size: 490px;
		background-position: 5px 0px;
		background-repeat: no-repeat;
		height: 420px;
		width: 500px;
		z-index: 12;
		float: left;
	}

	.stem-overlay {
		background-color: rgba(38, 38, 38, 0.4);
		z-index: 10;
		position: absolute;
		width: 500px;
		height: 420px;
		float:left;
	}

	.stem-text {
		margin: 3rem;
		opacity: 1;
		color: white;
		text-shadow: 2px 2px 5px #000000;
		z-index: 500;
	}

	.options {
		background-color: gray; 
		width: 268px;
		margin: 0 auto;
		z-index: 12;
		border:1px;
		display: inline-block;
		float: left;
	}

	.options-overlay {
		background-color: rgba(0, 0, 0, 0.8);
		position: absolute;
		color: #131339;
		z-index: 10;
		top: 0;
		left: 500px;
		width: 268px;
		height: 420px;
		clear: both;
	}

	.options-text {
		top: 25px;
		width: 220px;
	}

	.options-mask {
		background-color: rgba(70, 70, 70, 0.2);
		position: absolute;
		color: #131339;
		z-index: 15;
		top: 0;
		left:500px;
		width: 268px;
		height: 420px;
		clear: both;
	}

	.buttons {
		top: 320px;
		left: 599px;
		width: 70px;
		position: absolute;
		margin: 0.5rem auto;
		background-color: white;
		display: block;
		z-index: 15;
		opacity:1;
	}

	.pushbutton {
		align: center;
		background-color: white;
		width: 100%;
		
		height: 100%;
	}

	footer {
		margin: 0 auto;
		padding: 1rem 0 1rem 0;
		width: 768px;
		background-color: #f2f2f2;
	}
}

@media (min-width: 980px) {

	.outer {
		width: 980px;
		height: 536px;
		margin: 0 auto;
		position: relative;
	}

	.welcome {
		width: 100%;
		height: 536px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		background-color: white;
		color: blue;
		opacity: .7;
	}

	#message {
		position: absolute;
		left: 635px;
		width: 325px;
		height: 536px;
	}

	.stem {
		background-image: url("../images/portal_rubbing.gif");
		background-size: 615px;
		background-position: 5px 0px;
		background-repeat: no-repeat;
		height: 536px;
		width: 625px;
		z-index: 12;
		float: left;
	}

	.stem-overlay {
		background-color: rgba(38, 38, 38, 0.4);
		z-index: 10;
		position: absolute;
		width: 625px;
		height: 536px;
		float:left;
	}

	.stem-text {
		margin: 3rem;
		opacity: 1;
		color: white;
		text-shadow: 2px 2px 5px #000000;
		z-index: 500;
	}

	.options {
		background-color: gray; 
		width: 355px;
		margin: 0 auto;
		z-index: 12;
		border:1px;
		display: inline-block;
		float: left;
	}

	.options-overlay {
		background-color: rgba(0, 0, 0, 0.8);
		position: absolute;
		color: #131339;
		z-index: 10;
		top: 0;
		left: 625px;
		width: 355px;
		height: 536px;
		clear: both;
	}

	.options-text {
		top: 25px;
		width: 355px;
	}

	.options-mask {
		background-color: rgba(70, 70, 70, 0.2);
		position: absolute;
		color: #131339;
		z-index: 15;
		top: 0;
		left:625px;
		width: 355px;
		height: 536px;
		clear: both;
	}

	.buttons {
		top: 320px;
		left: 767px;
		width: 70px;
		position: absolute;
		margin: 0.5rem auto;
		background-color: white;
		display: block;
		z-index: 15;
		opacity:1;
	}

	.pushbutton {
		align: center;
		background-color: white;
		width: 100%;
	}

	footer {
		margin: 0 auto;
		padding: 1rem 0 1rem 0;
		width: 980px;
		background-color: #f2f2f2;
	}
}